@using Control.UI.Models
@model InvoiceViewModel

@{
    ViewBag.Title = "Cadastro de Nota Fiscal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/plugins/datatables/TableTools.js"></script>
    <script src="~/plugins/datatables/TableTools_orig.js"></script>
    <script src="~/plugins/datatables/ZeroClipboard.js"></script>
</head>

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Faturamento</a></li>
            <li><a href="#">Controle e Emissão de Nota Fiscal</a></li>
            <li><a href="#">Cadastrar</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <!-- BOX -->
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <span>Cadastro de Nota Fiscal</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <!-- conteudo -->
            <div class="box-content">
                <div id="tabs">
                    @using (Html.BeginForm("InvoiceSave", "Invoice", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul>
                            <li><a href="#tabs-1">Dados Cadastrais</a></li>
                            @*<li><a href="#tabs-2">Produtos</a></li>*@
                        </ul>

                        <div id="tabs-1">
                            <!--Tab Dados Cadastrais-->
                            <div class="form-group">

                                @Html.LabelFor(model => model.Invoice.Numero, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(p => p.Invoice.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                @Html.LabelFor(p => p.Invoice.Valor, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(p => p.Invoice.Valor, new { @class = "form-control" })
                                </div>

                                @Html.LabelFor(p => p.Invoice.DataEmissao, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(p => p.Invoice.DataEmissao, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "datepicker form-control" })
                                </div>

                            </div>

                            <div class="form-group">

                                @Html.Label("Série", htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2" style="align-content:flex-start">
                                    @Html.DropDownListFor(p => p.Invoice.InvoiceSerieID, new SelectList(Model.Series, "Id", "Descricao"), htmlAttributes: new { @class = "selddl" })
                                </div>

                                @Html.Label("Cliente", htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-5 style=" align-content:flex-start">

                                    @Html.DropDownListFor(p => p.Invoice.CustomerID, new SelectList(Model.Customers, "Id", "CompanyName"), htmlAttributes: new { @class = "selddl" })
                                </div>

                            </div>

                        </div>
                        <div id="tabs-2">
                            <!-- Tab Itens Pedido -->
                        </div>
                        <div class="add_delete_toolbar" />

                    <!-- conteudo -->
                        <div id="table_wrapperz">

                            <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="gdvItensNotaFiscal">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Descrição</th>
                                        <th>Quantidade</th>
                                        <th>Preço</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Invoice.Items.Count > 0)
                                    {
                                        foreach (var item in Model.Invoice.Items)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.SequencialItem)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ProductItem.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.QuantityOrder)</td>
                                                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                                <div class="form-group">
                                    <div class="col-md-offset-5">
                                        <input type="submit" value="Cadastrar" class="btn btn-primary" style="font-size: 0.8em;" />
                                    </div>
                                </div>
                    }
                    @*<div class="form-group">
                        <div class="col-md-offset-5">
                            @*<input type="submit" value="Cadastrar" class="btn btn-primary" />*@
                    @*<a href='@Url.Action("Cadastrar", "Invoice")'>
                            <i class="btn btn-primary">Histórico</i>
                        </a>*@
                    @*<a href='@Url.Action("Clientes", "Cadastro")'>
                                        <i class="btn btn-primary">Voltar</i>
                                    </a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div><!-- BOX -->

<script type="text/javascript">
    // Run Select2 on element
    function Select2Test() {
        //  $("#Pedido_CustomerID").select2();
        //  $("#Pedido_ContactID").select2();
        $(".selddl").select2();
    }

    $(document).ready(function () {
        // Load TimePicker plugin and callback all time and date pickers
        LoadTimePickerScript(AllTimePickers);
        // Create jQuery-UI tabs
        $("#tabs").tabs();
        // Sortable for elements
        $(".sort").sortable({
            items: "div.col-sm-2",
            appendTo: 'div.box-content'
        });
        // Droppable for example of trash
        $(".drop div.col-sm-2").draggable({ containment: '.dropbox' });
        $('#trash').droppable({
            drop: function (event, ui) {
                $(ui.draggable).remove();
            }
        });
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        // Make accordion feature of jQuery-UI
        $("#accordion").accordion({ icons: icons });
        // Create UI spinner
        $("#ui-spinner").spinner();
        // Add Drag-n-Drop to boxes

        // Load script of Select2 and run this
        LoadSelect2Script(Select2Test);

        $('.datepicker').datepicker({
            setDate: new Date(),
            dateFormat: 'dd/mm/yy',
            language: 'pt',
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });

        //$("#Pedido_CustomerID").select2();
        //$("#Pedido_ContactID").select2();

        WinMove();

        $('#gdvItensNotaFiscal').dataTable();

        $('#gdvItensNotaFiscal_filter').hide();
        $('#gdvItensNotaFiscal_info').hide();
        $('#gdvItensNotaFiscal_length').hide();
    });

    function fnClickAddRow() {

        $('#gdvItensNotaFiscal').dataTable().fnAddData([
            "1",
            ".1",
            ".2",
            ".3",
            ".4"]);

        $('#gdvItensNotaFiscal_filter').hide();
        $('#gdvItensNotaFiscal_info').hide();
        $('#gdvItensNotaFiscal_length').hide();
    }
</script>