@using Control.Model.Entities
@using Control.Model.Enums
@using Control.Utility
@model IEnumerable<Invoice>

@{
    ViewBag.Title = "Notas Fiscais Emitidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src=" ~/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/plugins/datatables/TableTools.js"></script>
    <script src="~/plugins/datatables/TableTools_orig.js"></script>
    <script src="~/plugins/datatables/ZeroClipboard.js"></script>
    <script src="~/plugins/select2/select2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Faturamento</a></li>
            <li><a href="#">Notas Fiscais Emitidas</a></li>
            @*<li><a href="#">Edição</a></li>*@
        </ol>
    </div>
</div>


<!--Teste-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <span>Notas Fiscais Emitidas</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                <div id="table_wrapperz">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="gdvNotaFiscal" style="overflow: scroll !important;">
                        <thead>
                            <tr>
                                <th class="no-sort"></th>
                                <th></th>
                                <th></th>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Série
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Data Emissão
                                </th>
                                <th>
                                    Data Criação
                                </th>
                                <th>
                                    Cliente
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <a href='@Url.Action("Edit", "Invoice", new { InvoiceID = item.Id })'>
                                                <i class="fa fa-edit red"></i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href='@Url.Action("Delete", "Invoice", new { InvoiceID = item.Id } )'>
                                                <i class="fa fa-times-circle" style="color:red"></i>

                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href='@Url.Action("ConsultarNFSe", "Invoice", new { InvoiceID = item.Id })'>
                                                <i class="fa fa-check color5"></i>
                                            </a>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Numero)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Serie.Descricao)
                                        </td>
                                        <td>
                                            @{
                                                string valor = item.Valor.ToString("C");
                                            }
                                            @Html.DisplayFor(modelItem => valor)
                                        </td>
                                        <td>
                                            @{
                                                string status = Utilities.EnumToList<StatusInvoice>().Where(p => Utilities.GetValueFromDescription<StatusInvoice>(p.GetDescription()) == item.Status).Select(p => p.GetDescription()).FirstOrDefault();
                                            }
                                            @Html.DisplayFor(modelItem => status)
                                        </td>
                                        <td>
                                            @{ string dataEmissao = item.DataEmissao.ToShortDateString(); }
                                            @Html.DisplayFor(modelItem => dataEmissao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InsertDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerInvoice.CompanyName)
                                        </td>
                                    </tr>
                                                    }
                                                }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->

<script type="text/javascript">
    // Run Datables plugin and create 3 variants of settings
    function AllTables() {
        TableNotaFiscal();
        LoadSelect2Script(MakeSelect2);
    }

    function MakeSelect2() {
        $('select').select2();
        $('.dataTables_filter').each(function () {
            $(this).find('label input[type=text]').attr('placeholder', 'Pesquisar');

            //var url = Url.Action("ActionName", "ControllerName")';
            var url = '@Url.Action("ActionName", "ControllerName")';

            $(this).append("<input type='button' value='Adicionar' style='margin-right:10px' class='btn btn-default' onclick='location.href=\"/Invoice/Create\"' />");
            //$(this).append("<input type='button' value='Imprimir ' style='margin-right:10px' class='btn btn-default' onclick='location.href=\"/Cadastro/ClientesEdit\"' />");
            //$(this).append("<input type='button' value='Exportar ' style='margin-right:10px' class='btn btn-default' onclick='location.href=\"/Cadastro/ClientesEdit\"' />");
        });
    }

    function TableNotaFiscal() {
        $('#gdvNotaFiscal').dataTable({
            "aaSorting": [[8, "desc"]],
            "sDom": "<'box-content'<'col-sm-6'f><'col-sm-6 text-right'l><'clearfix'>>rt<'box-content'<'col-sm-6'i><'col-sm-6 text-right'p><'clearfix'>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sSearch": "",
                "sLengthMenu": '_MENU_',
                "scrollY": 200,
                "scrollX": 200
            },
            "aoColumns": [
               { "sName": "EditarNotaFiscal"},
               { "sName": "ExcluirNotaFiscal" },
               { "sName": "GerarNotaFiscal" },
               { "data": "Numero" },
               { "sName": "Serie" },
               { "sName": "Valor" },
               { "sName": "Status" },
               { "sName": "DataEmissao" },
               { "sName": "DataCriacao" },
               { "sName": "Cliente" },
           ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
                "order": []
            }]
        });
    }

    $(document).ready(function () {
        // Load Datatables and run plugin on tables
        LoadDataTablesScripts(AllTables);

        // Add Drag-n-Drop feature
        WinMove();

        //$('#gdvNotaFiscal').DataTable({
        //    "aoColumns": [
        //        { "sName": "EditarNotaFiscal" },
        //        { "sName": "ExcluirNotaFiscal" },
        //        { "sName": "GerarNotaFiscal" },
        //        { "data": "Numero" },
        //        { "sName": "Serie" },
        //        { "sName": "Valor" },
        //        { "sName": "Status" },
        //        { "sName": "DataEmissao" },
        //        { "sName": "DataCriacao" },
        //        { "sName": "Cliente" },
        //    ],
        //    "order": [[8, "desc"]],
        //    "columnDefs": [
        //        { "orderable": false, "targets": 3 }
        //    ]
        //});
    });
</script>