@using Control.UI.Models
@model PedidoViewModel

<div id="table_wrapperz">
    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="gdvItensPedido">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Desconto</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Order.Items)
            {
                <tr>
                    <td style="display:none">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td style="display:none">@Html.DisplayFor(modelItem => item.OrderId)</td>
                    <td style="display:none">@Html.DisplayFor(modelItem => item.ProductID)</td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0);"  onclick="AbrirItemPedido(@item.SequencialItem);" data-toggle="modal" data-target="#itemPedido">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.SequencialItem)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductItem.Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.QuantityOrder)</td>
                    <td>@{ string unitPrice = item.UnitPrice.ToString("N");  } @Html.DisplayFor(modelItem => unitPrice)</td>
                    <td>@{ string discount = item.ItemDiscount.ToString("N");} @Html.DisplayFor(modelItem => discount)</td>
                    <td>@{ string totalPrice = item.TotalPrice.ToString("N");} @Html.DisplayFor(modelItem => totalPrice)</td>
                </tr>
                        }
        </tbody>
    </table>
</div>
