@using Control.Model.Entities
@model List<OrderProduct>
@{
    ViewBag.Title = "Carteira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Carteira</a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                <div id="table_wrapperz">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1" style="overflow: scroll !important;">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Pedido do Cliente
                                </th>
                                <th>
                                    Quant.
                                </th>
                                <th>
                                    Data Pedido
                                </th>
                                <th>
                                    Prazo Entrega
                                </th>
                                <th>
                                    Observação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                {
                                    <tr>
                                        @*<td>
                                            <h4 style="color:red">
                                                <a href='@Url.Action("ContatosEdit", "Cadastro", new { ContatoID = item.Id })'>
                                                    <i class="fa fa-edit red"></i>
                                                </a>
                                                <a href='@Url.Action("ContatoDelete", "Cadastro", new { ContatoID = item.Id })'>
                                                    <i class="fa fa-times-circle" style="color:red"></i>

                                                </a>
                                            </h4>
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductItem.ProductCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductItem.Model)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductItem.Name)
                                        </td>
                                        <td>
                                           0
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.CustomerControlCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuantityOrder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.OrderDate)
                                        </td>
                                        <td>
                                            @{ string prazoEntrega = item.Order.OrderDate.AddDays(item.DeadlineItem).ToShortDateString();    }
                                            @Html.DisplayFor(modelItem => prazoEntrega)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.Comments)
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>