@using Control.UI.Models
@model PedidoViewModel

@{
    ViewBag.Title = "Cadastro de Propostas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <script src="~/Content/Order/Order.js"></script>
    <script src="~/Content/Cadastros/Cliente/Cliente_Modal.js"></script>
    <script src="~/Content/Cadastros/Vendedor/Vendedor.js"></script>
    <script src="~/Content/Cadastros/Contato/Contato.js"></script>

    <style type="text/css">
        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }

        #modal-sucesso .modal-body {
            min-height: 146px;
            color: #074981;
            padding: 50px 50px 0px 200px;
            background: url('../../Content/img/message-success.png') no-repeat 40px 27px;
            font-size: 18px;
            font-family: Segoe UI Light;
        }

        #modal-erro-cenprot .modal-body {
            min-height: 146px;
            color: #074981;
            padding: 50px 50px 0px 200px;
            background: url('../../Content/img/warning.png') no-repeat 40px 27px;
            font-size: 18px;
            font-family: Segoe UI Light;
        }

        #modal-sucesso .modal-dialog {
            width: 495px;
            margin: 130px 475px;
        }

        #modal-erro-cenprot .modal-dialog {
            width: 495px;
            margin: 130px 475px;
        }

        #modal-erro-cenprot, #modal-sucesso .modal-footer {
            border-top: 0px solid #e5e5e5;
            padding: 10px;
        }
    </style>

</head>

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Vendas</a></li>
            <li><a href="#">Propostas</a></li>
            <li><a href="#">Cadastrar</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <!-- BOX -->
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <span>Cadastro de Propostas</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <!-- conteudo -->
            <div class="box-content">

                <div id="tabs">

                    @using (Ajax.BeginForm("Save", new { Controller = "Pedido" },
new AjaxOptions { OnBegin = "IniciarInclusaoPedido", OnSuccess = "FinalizarInclusaoPedido", OnFailure = "ShowHTTPException" }, new { @class = "form-horizontal", @id = "frmCreatePedido" }))
                    {
                        <ul>
                            <li><a href="#tabs-1"> Dados Cadastrais </a></li>
                        </ul>

                        <div id="tabs-1">
                            <!--Tab Dados Cadastrais-->
                            @*@Html.HiddenFor(model => model.Order.Discount)*@


                            <div class="form-group">

                                @Html.Label("Cliente", htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Order.CustomerID, new SelectList(Model.Customers, "Id", "CompanyNameOrder"), htmlAttributes: new { @class = "selddl" })
                                </div>
                                <a href="javascript:void(0);" onclick="AbrirModalCadastroCliente();">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="form-group">

                                <div class="col-md-1">
                                    @Html.Label("Contato", htmlAttributes: new { @class = "", @*@style = "width: 80px;text-align:center"*@ })
                                </div>

                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Order.ContactID, new SelectList(Model.Contacts, "Id", "ContatName"), htmlAttributes: new { @class = "selddl" })
                                </div>

                                <div class="pull-left">
                                    <a href="javascript:void(0);" onclick="AbrirModalCadastroContato();">
                                        <i class="fa fa-plus" aria-hidden="false"></i>
                                    </a>
                                </div>

                                @*<div style="margin-top: -25px;">
                                        @Html.Label("Vendedor", htmlAttributes: new { @class = "col-md-1", @style = "right: 3px; margin-left:72px;" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Order.VendorID, new SelectList(Model.Vendors, "Id", "Name"), htmlAttributes: new { @class = "selddl", @style= "width: 333px;" })
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" onclick="AbrirModalCadastroVendedor();">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>*@

                                <div class="col-xs-1" id="divVendedor" style="line-height:28px;margin-left: 77px;">
                                    @Html.Label("Vendedor", htmlAttributes: new { @class = "" })
                                </div>

                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Order.VendorID, new SelectList(Model.Vendors, "Id", "Name"), htmlAttributes: new { @class = "selddl" })
                                </div>

                                <div class="pull-left">
                                    <a href="javascript:void(0);" onclick="AbrirModalCadastroVendedor();" id="hrefModalVendedor">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </div>


                            </div>

                            <div class="form-group">

                                @Html.LabelFor(p => p.Order.PaymentTermID, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Order.PaymentTermID, new SelectList(Model.PaymentTerms, "Id", "Description"), htmlAttributes: new { @class = "selddl" })
                                </div>
                                <!--Adicionar chamada javascript para Modal de alteração dos termos de pagamentos-->
                                <div class="pull-left">
                                    <a href="javascript:void(0);" onclick="AbrirModalCadastroCondicaoPagamento();">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <!--Campos Modalidade de Transporte-->
                                <div class="col-xs-1" id="divVendedor" style="line-height:28px;margin-left: 77px;">
                                    @Html.Label("Transporte", htmlAttributes: new { @class = "" })
                                </div>
                                <!--Adicionar Combo da Modalidade de transporte-->
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Order.ShippingId, new SelectList(Model.ShippingModes, "Id", "Name"), htmlAttributes: new { @class = "selddl" })
                                </div>
                                <!--Adicionar chamada javascript para Modal de alteração dos termos de pagamentos-->
                                @*<div class="pull-left">
                                    <a href="javascript:void(0);" onclick="AbrirModalCadastroVendedor();">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </div>*@

                            </div>

                            @Html.HiddenFor(p => p.Order.Id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
                            @*<div class="form-group">

                                    @Html.ValidationMessageFor(p => p.Order.Id)
                                    @Html.LabelFor(model => model.Order.Id, htmlAttributes: new { @class = "col-md-1" })
                                    <div class="col-md-2">
                                        @Html.EditorFor(p => p.Order.Id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @*@Html.ValidationMessageFor(p => p.Order.OrderDate)*@
                                @Html.LabelFor(p => p.Order.OrderDate, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @{ DateTime dataEmissao = Model.Order.OrderDate; }
                                    @Html.TextBoxFor(p => p.Order.OrderDate, new { @Value = dataEmissao == DateTime.MinValue ? DateTime.Now.ToShortDateString() : dataEmissao.ToShortDateString(), @class = "datepicker form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.ValidationMessageFor(p => p.Order.OrderDate)*@
                                @Html.LabelFor(p => p.Order.TotalValue, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(p => p.Order.TotalValue, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(p => p.Order.Discount, htmlAttributes: new { @class = "col-md-1" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(p => p.Order.Discount, new { @class = "form-control" })
                                </div>

                                @Html.Label("Despesa Financeira", htmlAttributes: new { @class = "control-label col-md-1", @style = "width: 154px;text-align: left;margin-left: 6px;" })
                                <div class="col-md-1" style="text-align: left;margin-top: 6px;margin-left: -38px;">
                                    @Html.CheckBoxFor(p => p.Order.DespesaFinanceira, new { @class = "", @style = "margin-left:18px;transform: scale(1.2);" })
                                </div>

                            </div>

                            <div class="form-group">

                                @*@Html.Label("Status", htmlAttributes: new { @class = "col-md-1" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.Order.Status, Model.Status, htmlAttributes: new { @class = "selddl" })
                                    </div>*@

                                <div class="col-sm-1"></div>

                                <div class="col-xs-1">
                                    
                                </div>


                               

                            </div>



                            <div class="form-group">
                                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemPedido" style="font-size: 0.8em;float:right" id="btnAddItemPedido" value="Adicionar Item" />
                            </div>

                            @{ Html.RenderAction("GetOrderProducts", "Pedido", new { OrderID = Model.Order.Id });
                            }

                            @Html.Hidden("itensPedido", "", new { id = "itensPedido" })

                            @Html.Label("Observação", htmlAttributes: new { @class = "col-md-1" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(p => p.Order.Comments, new { @class = "form-control", @style = "height: 90px;" })
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-5">
                                    <input type="submit" value="Alterar" onclick="return IniciarEdicaoPedido();" class="btn btn-primary" style="font-size: 0.8em;" id="btnEditarPedido" />
                                    <input type="submit" value="Cadastrar" onclick="return IniciarInclusaoPedido();" class="btn btn-primary" style="font-size: 0.8em;" id="btnCadastrarPedido" />
                                    <input type="button" value="Gerar NF" onclick="return IncluirNotaFiscal($('#Order_Id').val());" class="btn btn-primary" style="font-size: 0.8em;" id="btnGerarNF" />
                                    <input type="button" class="btn btn-primary" style="font-size: 0.8em" value="Pedidos" onclick="location.href='@Url.Action("Index", "Pedido")'" />
                                </div>
                            </div>
                        </div>

                                }
                </div>
            </div>
        </div>
    </div>
</div><!-- BOX -->

<script type="text/javascript">

    var editor;

    $(document).ready(function () {

        $(".show-sidebar").click(function () {

            var intMarginLeft = parseInt($('#divVendedor').attr('style').toString().split(':')[1]);

            if (intMarginLeft == 77)
                $('#divVendedor').attr('style', 'margin-left: 61px;');
            else
                $('#divVendedor').attr('style', 'margin-left: 77px;');

        });
        //$(".show-sidebar").click();
        // Load TimePicker plugin and callback all time and date pickers
        LoadTimePickerScript(AllTimePickers);
        // Create jQuery-UI tabs
        $("#tabs").tabs();
        $("#btnAvancar").click(function () {
            var active = $("#tabs").tabs("option", "active");
            $("#tabs").tabs("option", "active", active + 1);
        });

        $("#btnVoltar").click(function () {
            var active = $("#tabs").tabs("option", "active");
            $("#tabs").tabs("option", "active", active - 1);
        });

        // Sortable for elements
        $(".sort").sortable({
            items: "div.col-sm-2",
            appendTo: 'div.box-content'
        });
        // Droppable for example of trash
        $(".drop div.col-sm-2").draggable({ containment: '.dropbox' });
        $('#trash').droppable({
            drop: function (event, ui) {
                $(ui.draggable).remove();
            }
        });
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        // Make accordion feature of jQuery-UI
        $("#accordion").accordion({ icons: icons });
        // Create UI spinner
        $("#ui-spinner").spinner();
        // Add Drag-n-Drop to boxes


        WinMove();

        $(window).on('shown.bs.modal', function () {
            //$('.modal-backdrop').removeClass();
        })
    });

</script>
