@using Control.Model.Entities
@model Order

@{
    ViewBag.Title = "VisualizarProposta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Vendas</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Relatorio</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-content" id="divToPDF">
                <div class="col-xs-6">
                    <b>Solicitante:</b>
                    <address>
                        <strong>Contraill Comercio e Logistica</strong><br>
                        Rua Franklin , 389, 5 Andar<br>
                        Boston, MA 02110-1301<br>
                        USA<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address>
                        <strong>Ramon Valdez</strong><br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>NCC Equipamentos Industriais</strong><br>
                        Rua Jo&atilde;o Guerra, 271 - Macuco<br>
                        Santos/SP - CEP 11015-131<br>
                        BR<br>
                        <abbr title="Phone">P:</abbr> Fone: 13 3232.8909
                    </address>
                    <h3 class="invoice-header">Pedido #37095</h3>
                    <p>Data Emissão: 1/12/16</p>
                    <p class="txt-danger">Data Pagamento: 10/12/16</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ITEMS</th>
                                <th>QUANTIDADE</th>
                                <th>PRECO UNITARIO</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="m-ticker"><b>Server #1</b><span>SAN Storage 40Gb, vCPU 2 Core, vRAM 2GB</span></td>
                                <td>2</td>
                                <td>$12.5</td>
                                <td>$25</td>
                            </tr>
                            <tr>
                                <td class="m-ticker"><b>Server #2</b><span>SAN Storage 80Gb, vCPU 4 Core, vRAM 4GB</span></td>
                                <td>2</td>
                                <td>$25</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td class="m-ticker"><b>Server #3</b><span>SAN Storage 1600Gb, vCPU 8 Core, vRAM 8GB</span></td>
                                <td>2</td>
                                <td>$50</td>
                                <td>$100</td>
                            </tr>
                            <tr class="active">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>$175<sup>*</sup></b></td>
                            </tr>
                        </tbody>
                    </table>
                    <small>* VAT included</small>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-6 col-xs-offset-6" style="margin-top: 45px">
                    <div class="col-xs-4">
                        <a href="#" id="savePDFlink" class="btn btn-default btn-label-left"><span><i class="fa fa-floppy-o"></i></span> Salvar pdf</a>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4">
                        <a href="#" class="btn btn-primary btn-label-left"><span><i class="fa fa-credit-card"></i></span> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<h2>VisualizarProposta</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactOrder.ContatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactOrder.ContatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOrder.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOrder.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOrder.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOrder.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorOrder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorOrder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="http://html2canvas.hertzen.com/build/html2canvas.js"></script>
@*<script type="text/javascript" src="dist/jspdf.min.js"></script>*@
<script src="~/plugins/jspdf.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#savePDFlink").click(SalvarPDF);
    });

    function SalvarPDF() {
        alert("TESTE 123");

        var pdf = new jsPDF('p', 'pt', 'a4');

        pdf.fromHTML($('#divToPDF').html(), 15, 15, {
            
        });
        pdf.save('sample-file.pdf');

        //pdf.addHTML(document.body, function () {
        //    var string = pdf.output('datauristring');
        //    //$('.preview-pane').attr('src', string);
        //});
    }
    
</script>