@using Control.Model.Entities
@using Control.Model.Enums
@using Control.UI.Models
@using Control.Utility
@model PaymentTerm


<head>

    <script src="~/scripts/jquery.maskedinput.js"></script>
    <script src="~/Content/Cadastros/CondicaoPagamento/CondicaoPagamento.js"></script>


    <style type="text/css">
        .col-md-1 {
            margin-top: 0px;
        }
    </style>

</head>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <!--Inicio-->
            @using (Ajax.BeginForm("IncluirCondicaoPagamento", new { Controller = "Pedido" }, new AjaxOptions { OnBegin = "ValidarInclusaoCondicaoPagamentoModal", OnSuccess = "FinalizarInclusaoCondicaoPagamento(data)" }, new { @class = "form-horizontal" }))
            {
                <div class="box-content">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id, new { @id= "PaymentTerm_Id_Modal" })

                    <input type="hidden" id="hdnCustomerID_CondicaoPagamento_Modal" name="CustomerID" />

                    <div class="form-group">
                        @Html.Label("Descrição", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })*@
                        </div>

                    </div>

                    <div class="form-group">

                        @Html.LabelFor(p => p.ShortDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })*@
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.Label("Qtd. Dias", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control", @type = "text", @id="Days_Modal" } })
                            @*@Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })*@
                        </div>

                        @Html.Label("Ativa", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-1" style="text-align: left;margin-top: 5px;">
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "", @id="ckbCondicaoPagamentoAtiva" } )
                            @*@Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })*@
                        </div>

                    </div>

                    <div class="form-group">

                        @Html.Label("Alíquota (%)", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Aliquota, new { htmlAttributes = new { @class = "form-control", @type = "text", @id="AliquotaModal" } })
                            @*@Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })*@
                        </div>

                    </div>

                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">

                            <input type="submit" value="Cadastrar" class="btn btn-primary" id="btnCadastrarModal" />

                            @*<a href='@Url.Action("CondicaoPagamento", "Cadastro")' style="text-decoration: none;">
                                <input type="button" class="btn btn-primary" value="Condição Pagamento" />
                            </a>*@

                            @*<a href='@Url.Action("OrdersCustomer", "Pedido", new { ClientID = Model.Id })' style="text-decoration: none;">
                                    <input type="button" class="btn btn-primary" value="Pedidos" />
                                </a>

                                <a href='@Url.Action("InvoicesCustomer", "Invoice", new { ClientID = Model.Id })' style="text-decoration: none;">
                                    <input type="button" class="btn btn-primary" value=" Nota Fiscal" />
                                </a>*@
                        </div>
                    </div>
                </div>
            }
            <!--Fim-->
        </div>

    </div><!--box-->
</div><!--row-->
