@using Control.Model.Entities
@model List<PurchaseOrderItem>

<head>

    <script src="~/scripts/Blink.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#gdvItensPedidoDeCompras').dataTable({
                "aaSorting": [[5, "asc"]],
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado"
                },
                "bAutoWidth": false,
                "aoColumns": [
                { "Name": "Id" },
                { "Name": "IdPedido" },
                { "Name": "IdProduto" },
                { "Name": "EditarItem", "sWidth": "10px", "sClass": "center" },
                { "Name": "ExcluirItem", "sWidth": "10px", "sClass": "center" },
                { "Name": "SequencialItem" },
                { "Name": "DescricaoProduto", "sWidth": "300px" },
                { "Name": "Quantidade" },
                { "Name": "ValorUnitario" },
                { "Name": "Desconto" },
                { "Name": "ValorTotal" },
                ],
                "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1, 2] }, { "sClass": "center", "aTargets": [5]}]
            });

            $('#gdvItensPedidoDeCompras_filter').hide();
            //$('#gdvItensPedidoDeCompras_info').hide();
            $('#gdvItensPedidoDeCompras_length').hide();

        });

    </script>

</head>

<div id="table_wrapperz_ItensPedido">
    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="gdvItensPedidoDeCompras">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Desconto</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.PurchaseOrderId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0);" onclick="AbrirItemPedido(@item.SequencialItem);" data-toggle="modal" data-target="#itemPedido">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0);" onclick="ExcluirItemPedido(@item.SequencialItem);">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.SequencialItem)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductItem.FullDescription)</td>
                    <td> @Html.DisplayFor(modelItem => item.QuantityOrder)</td>
                    <td>@{ string unitPrice = item.UnitPrice.ToString("N");  } @Html.DisplayFor(modelItem => unitPrice)</td>
                    <td>@{ string discount = item.ItemDiscount.ToString("N");} @Html.DisplayFor(modelItem => discount)</td>
                    <td>@{ string totalPrice = item.TotalPrice.ToString("N");} @Html.DisplayFor(modelItem => totalPrice)</td>
                </tr>
                        }
        </tbody>
    </table>
</div>

