@using Control.Model.Entities
@using Control.Model.Enums
@using Control.UI.Models
@using Control.Utility
@model ClienteViewModel

<head>

    <script src="~/Content/Cadastros/Cliente/Cliente.js"></script>

    <style type="text/css">
        .col-md-1 {
            margin-top: 0px;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {

            var CustomerID = $('#Customer_Id').val();

            if (CustomerID > 0)
                $('#btnCadastrar').val('Alterar');
            else
                $('#btnCadastrar').val('Cadastrar');
        });

    </script>

</head>

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Cadastro</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Editar</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-pencil"></i>
                    <span>Adicionar Novo Cliente</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>

                <div class="no-move"></div>
            </div>

            <!--Inicio-->
            @using (Html.BeginForm("ClientesSave", "Cadastro", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box-content">

                    @Html.AntiForgeryToken()
                    @Html.ValidationMessageFor(model => model.Customer.ShortName)
                    @Html.ValidationMessageFor(model => model.Customer.CompanyName)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Customer.Id)

                    <div class="form-group">

                        @Html.Label("Razão Social", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Customer.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Nome Fantasia", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Customer.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.Label("Tipo Cliente ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">

                            @{
                                var listaEnumCustomerType = Utilities.EnumToList<CustomerType>()
                                                        .Select(p => new
                                                        {
                                                            Id = Utilities.GetValueFromDescription<CustomerType>(p.GetDescription()),
                                                            Descricao = p.GetDescription(),
                                                        }).OrderBy(p => p.Id)
                                                        .ToList();
                            }
                            @Html.DropDownListFor(model => model.Customer.CustomerType, new SelectList(listaEnumCustomerType, "Id", "Descricao"), new { @class = "selddl", @id = "cboTipoCliente" })
                            @*@Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })*@
                        </div>

                        @Html.Label("CNPJ/CPF", htmlAttributes: new { @class = "control-label col-md-1", @id = "lblCnpjCpf" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Customer.Document, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            @*@Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <fieldset>
                        <legend>Endereço</legend>
                        <div class="form-group">

                            @Html.Label("CEP", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Customer.ZipCode, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @*@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })*@
                            </div>

                            @Html.Label("Logradouro", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Customer.AddressStreet, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })*@
                            </div>

                        </div>

                        <div class="form-group">

                            @Html.Label("Número", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Customer.AddressNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.AddressNumber, "", new { @class = "text-danger" })*@
                            </div>

                            @Html.Label("Complemento", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Customer.AddressComplement, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.AddressComplement, "", new { @class = "text-danger" })*@
                            </div>

                        </div>

                        <div class="form-group">

                            @Html.Label("País", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Customer.AddressCountryId, new SelectList(Model.Countries, "Id", "Name"), htmlAttributes: new { @class = "selddl" })
                            </div>

                            @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Customer.AddressStateId, new SelectList(Model.States, "Id", "Name"), htmlAttributes: new { @class = "selddl" })
                                @*@Html.ValidationMessageFor(model => model.AddressState, "", new { @class = "text-danger" })*@
                            </div>

                        </div>

                        <div class="form-group">

                            @Html.Label("Cidade", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Customer.AddressCityId, new SelectList(Model.Cities, "Id", "Name"), htmlAttributes: new { @class = "selddl" })
                                @*@Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })*@
                            </div>

                            @Html.Label("Bairro", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Customer.AddressDistrict, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.AddressDistrict, "", new { @class = "text-danger" })*@
                            </div>

                        </div>

                        <div class="form-group">

                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Contatos</legend>

                        <div class="form-group">

                            @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-1">
                                @Html.EditorFor(model => model.Customer.PhoneCode, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>

                            @Html.Label("Fax", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Customer.PhoneFax, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.PhoneFax, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                            </div>

                            @Html.Label("Website", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Customer.Website, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">


                            <input type="submit" value="Cadastrar" class="btn btn-primary" id="btnCadastrar" />

                            <a href='@Url.Action("Clientes", "Cadastro")' style="text-decoration: none;">
                                <input type="button" class="btn btn-primary" value="Clientes" />
                            </a>


                            <a href='@Url.Action("OrdersCustomer", "Pedido", new { ClientID = Model.Customer.Id })' style="text-decoration: none;">
                                <input type="button" class="btn btn-primary" value="Pedidos" />
                            </a>

                            <a href='@Url.Action("InvoicesCustomer", "Invoice", new { ClientID = Model.Customer.Id })' style="text-decoration: none;">
                                <input type="button" class="btn btn-primary" value=" Nota Fiscal" />
                            </a>
                        </div>
                    </div>
                </div>
                                }
            <!--Fim-->
        </div>

    </div><!--box-->
</div><!--row-->

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
